name: Lint Code Base

on:
  pull_request_review:
    types: [submitted]

jobs:
  lint:
    if: github.event.review.state == 'approved'
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Check out the head of the PR specifically
          ref: ${{ github.event.pull_request.head.sha }}
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
